@model TimeRegistration.Web.ViewModels.Registration.RegisterViewModel
@{
    ViewData["Title"] = "Register Time";
}

<h1>Register time</h1>

<br />

<form asp-controller="Registration" asp-action="Register" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CustomerId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CustomerId" asp-items="@(new SelectList(Model.PossibleCustomers, "CustomerId", "Name"))" class="form-control"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ProjectId" class="form-control"></select>
            <span asp-validation-for="ProjectId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Hours" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Hours" class="form-control" />
            <span asp-validation-for="Hours" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Notes" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Notes" class="form-control" />
            <span asp-validation-for="Notes" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>

@section Scripts {

<script>

    function UpdateProjects() {
        var selectedCustomerId = $('#CustomerId option:selected').val();
        $.getJSON("/ProjectList?customerId=" + selectedCustomerId, {}, function (json) {
            projects = json;
            var projectOptionsValues = '<select class="form-control" data-val="true" data-val-required="The Select Project field is required." id="ProjectId" name="ProjectId">';
            $.each(json, function (i, item) {
                projectOptionsValues += '<option value="' + item.id + '">' + item.name + '</option>';
            });
            projectOptionsValues += '</select>';
            var projectsSelector = $('#ProjectId');
            projectsSelector.replaceWith(projectOptionsValues);
        });
    }

    $(document).ready(function () {
        UpdateProjects();
    });

    $('#CustomerId').change(function () {
        UpdateProjects();
    });

</script>

}
